<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="SqlServer"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer" 
			 connectionString="Server=DESKTOP-RLNFUSA; Initial Catalog=SCM; trusted_connection=true;MultipleActiveResultSets=true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=SCM;Username=postgres;Password=soporte;"/>
		<add name="MySql"
			 connectionString="Host=localhost;Database=MySQL;Username=root;Password=soporte;"/>
		<add name="Memoria"
			 connectionString="SCM_DBMemoria"/>
	</connectionStrings>
</configuration>