@using Modelo.Entidades;
@model Horario
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Especialidades</h1>
<p>Se presenta a continuacion edición de horarios en el Sistema de Citas Medicas</p>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Crear nuevo horario</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Edit">
                <div class="form-group">
                    <label class="control-label"> Hora Inicio</label>
                    <input class="form-control" asp-for="Hora_Inicio" />
                </div>
                <div class="form-group">
                    <label class="control-label"> Hora Fin</label>
                    <input class="form-control" asp-for="Hora_Fin" />
                </div>
                <div class="form-group">
                    <label class="control-label"> Cupo Límite</label>
                    <input class="form-control" asp-for="Cupo_Limite" />
                </div>
                <div class="form-group">

                    <input type="submit" class="btn btn-primary" value="Crear Horario" />

                </div>
            </form>
        </div>
    </div>
</div>