@using Modelo.Entidades;
@model Cita
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Eliminacion de Citas</h1>
<p>Formulario para el borrado de Cita del Sistema de Citas Medicas</p>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Esta seguro que desea eliminar la Cita: @Model.CitaId</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Delete">
                <input type="hidden" asp-for="CitaId" />

                <div class="form-group">
                    <label class="control-label"> Fecha de Registro</label>
                    <input class="form-control" asp-for="Fecha_Registro" value="@DateTime.Today.ToString("dd/MM/yyyy")" disabled />
                    <label class="control-label">Fecha de Cita</label>
                    <input class="form-control" asp-for="Fecha_Cita" disabled/>
                    <label class="control-label"> Hora de Cita</label>
                    <input class="form-control" asp-for="Hora" disabled/>
                    <label class="control-label"> Paciente</label>
                    <select class="form-control"
                            asp-for="PacienteId" disabled
                            asp-items="@ViewBag.selectListaPacientes">
                        <option value="">--Seleccionar un Paciente--</option>
                    </select>
                    <label class="control-label"> Médico</label>
                    <select class="form-control"
                            asp-for="MedicoId" disabled
                            asp-items="@ViewBag.selectListaMedicos">
                        <option value="">--Seleccionar un Médico--</option>
                    </select>
                    <input type="hidden" asp-for="CalendarioId" value="2" />
                </div>
                
                <div class="form-group">                        
                    <input type="submit" class="btn btn-primary" value="Eliminar una Cita" />

                </div>
            </form>
        </div>
    </div>
</div>